<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Twitter Analyzer</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="../static/modules/data.js"></script>
  <script src="../static/modules/drilldown.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script>

  <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
  <script src="https://www.amcharts.com/lib/3/serial.js"></script>
  <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

  <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
  <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="{{ url_for ('static', filename='css/estilo.css')}}" rel="stylesheet">
</head>

<body>
  <section class="row">
    <section class="col-md-12 barraSuperior">
      <h1>Twitter Analyzer</h1>
    </section>
  </section>
  <section class="row" id="seccionContenido">
    <section class="col-md-2 nav">
      <section class="imagen text-center">
        <img src="{{url_for ('static', filename='images/icono.jpg')}}">
      </section>
      <section class="links">
        <section class="imagenTexto">
          <img src="{{url_for ('static', filename='images/folder.png')}}" alt="">
          <a href="{{ url_for('documentos') }}">Mis hojas de datos</a>
        </section>
        <section class="imagenTexto">
          <img src="{{url_for ('static', filename='images/graph.png')}}" alt="">
          <a href="{{ url_for('dashboard') }}">Reportes y análisis</a>
        </section>
        <section class="imagenTexto">
          <img src="{{url_for ('static', filename='images/id-card.png')}}" alt="">
          <a href="{{ url_for('dashboard') }}">Analisis guardados</a>
        </section>
      </section>

      <footer>
        <p>Todos los derechos reservados</p>
        <p>Rubén Báez | Willy Borja</p>
      </footer>
    </section>
    <section class="col-md-10 areaDespliegue">
      {% block content %} {% endblock %}
    </section>
  </section>
</body>

</html>
